#banner {
    width: 100%;
}

.main-title
{
    padding-left: 30px;
}

.main-block {
    background: #cccccc;
    padding: 20px;
}

.text-center {
    text-align: center;
}

p {
    text-align: center;
}

em strong {
    color: red;
}

#mision {
    font-size: 20px;
}

.diferenciales {
    background: white;
    padding: 20px;
}

.items {
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgDiferenciales {
    width: 50%;
}
